.card {
  margin: 10px;
  min-width: 275px;
  min-height: 100px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  background: var(--white-theme);
  transition: background 0.3s;
  position: relative;
  padding: 20px;
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.6),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.6),
    7px 7px 20px 0px rgba(0, 0, 0, 0.13), 4px 4px 5px 0px rgba(0, 0, 0, 0.067);
  &:hover {
    background: var(--white-theme-hover);
    box-shadow: -9px -9px 20px 0px rgba(255, 255, 255, 0.6),
      -6px -6px 5px 0px rgba(255, 255, 255, 0.6),
      9px 9px 20px 0px rgba(0, 0, 0, 0.13), 6px 6px 5px 0px rgba(0, 0, 0, 0.067);
  }

  .interactions {
    display: flex;
    padding: 20px;
    justify-content: flex-end;
    align-items: center;
  }
}
