@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #ecf0f3;
  margin: 25px 5em;
}

a,
a:link,
a:hover,
a:focus,
a:visited,
a:active {
  color: none;
  text-decoration: none;
  background: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.005em;
}

h2 {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 2.4rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 2.4rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 2.4rem;
}

h5 {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 2.4rem;
}

h6 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 2.4rem;
}

p {
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6em;
  margin: 0.8em 0 1.6em;
}

strong {
  font-weight: 500;
}

blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.12);
  font-style: italic;
  margin-left: 0;
  padding-left: 16px;
}

//Scrollbar
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: grey;
}

::-webkit-scrollbar-thumb {
  background: coral;
  border-radius: 50px;
  transition: background 3s;
}

::-webkit-scrollbar-thumb:hover {
  background: hotpink;
}

::-webkit-scrollbar-thumb:active {
  background: deeppink;
}
//////////////////////////////
////                      ////
////   Flexbox classes    ////
////                      ////
//////////////////////////////

$flex-directions: (row, column);

$justify-positions: (
  none: none,
  start: flex-start,
  end: flex-end,
  center: center,
  space-around: space-around,
  space-between: space-between,
  space-evenly: space-evenly,
);
$align-positions: (
  none: none,
  start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch,
  baseline: baseline,
);

@mixin flex-layout($direction, $justify, $align) {
  @each $direction-name in $direction {
    .layout-#{$direction-name} {
      display: flex;
      flex-direction: #{$direction-name};
      @each $justify-name, $justify-property in $justify {
        @each $align-name, $align-property in $align {
          &.layout-align-#{$justify-name}-#{$align-name} {
            align-items: #{$align-property};
            justify-content: #{$justify-property};
          }
        }
      }
    }
  }
}
@mixin flex-order() {
  .flex {
    flex: auto;
    @for $i from -20 through 20 {
      &.flex-order-#{$i} {
        order: $i;
      }
    }
  }
}

@mixin flex-percent {
  @for $i from 1 through 20 {
    .flex-#{$i*5} {
      flex: #{$i * 5 + "%"};
    }
  }
  @for $i from 1 through 3 {
    .flex-#{$i*33} {
      flex: #{$i * 33 + "%"};
    }
  }
}
@include flex-order();
@include flex-percent();
@include flex-layout($flex-directions, $justify-positions, $align-positions);

.flex-wrap {
  flex-wrap: wrap;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.layout-xs-column {
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */
}
@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
  /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
  .big {
    display: none;
  }
  .small {
    display: block;
  }
  body {
    margin: 10px;
  }
}

@media only screen and (device-width: 768px) {
  /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
}

@media (prefers-color-scheme: dark) {

}

.dark {
  background: #212121;
  color: rgba(255, 255, 255, 0.9);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: rgba(255, 255, 255, 0.8);
  }
  .m_button_not_raised {
    background: #212121;
    color: white;
    &:active {
      background: #212121
    }
    &:hover {
      background: #1b1b1b;
    }
  }

  .m_button {
    background: #212121;
    color: white;
    box-shadow: -9px -9px 20px 0px rgba(51, 51, 51, 0.6),
      -6px -6px 5px 0px rgba(51, 51, 51, 0.6), 9px 9px 20px 0px #212121,
      6px 6px 5px 0px #1b1b1b;
    &:hover {
      color: coral;
      background: #dfe4e7;
      box-shadow: -9px -9px 20px 0px rgba(51, 51, 51, 0.6),
        -6px -6px 5px 0px rgba(51, 51, 51, 0.6), 9px 9px 20px 0px #212121,
        6px 6px 5px 0px #1b1b1b;
    }
    &:active {
      background: #212121;
      box-shadow: -9px -9px 20px 0px rgba(51, 51, 51, 0.6),
        -6px -6px 5px 0px rgba(51, 51, 51, 0.6), 9px 9px 20px 0px #212121,
        6px 6px 5px 0px #1b1b1b;
    }
  }

  .card,
  .big-card{
    background: #212121;
    box-shadow: -7px -7px 20px 0px rgba(0, 0, 0, 0.6),
      -4px -4px 5px 0px rgba(0, 0, 0, 0.6),
      7px 7px 20px 0px rgba(255, 255, 255, 0.13),
      4px 4px 5px 0px rgba(255, 255, 255, 0.067);
    &:hover {
      background: #1d1d1d;
      box-shadow: -9px -9px 20px 0px rgba(0, 0, 0, 0.6),
        -6px -6px 5px 0px rgba(0, 0, 0, 0.6),
        9px 9px 20px 0px rgba(255, 255, 255, 0.13),
        6px 6px 5px 0px rgba(255, 255, 255, 0.067);
    }
  }
  .toast {
    box-shadow: -7px -7px 20px 0px rgba(0, 0, 0, 0.6),
      -4px -4px 5px 0px rgba(0, 0, 0, 0.6),
      7px 7px 20px 0px rgba(255, 255, 255, 0.13),
      4px 4px 5px 0px rgba(255, 255, 255, 0.067);
    .frame {
      background: #212121;
      box-shadow: inset -7px -7px 20px 0px rgba(0, 0, 0, 0.6),
        inset -4px -4px 5px 0px rgba(0, 0, 0, 0.6),
        inset 4px 4px 5px 0px rgba(255, 255, 255, 0.067);
    }
  }
  .toggle-row {
    .toggle {
      box-shadow: -8px -4px 8px 0px #212121, 8px 4px 12px 0px #1b1b1b,
        4px 4px 4px 0px #1b1b1b inset, -4px -4px 4px 0px #212121 inset;

      .indicator {
        background: #ecf0f3;
        box-shadow: -8px -4px 8px 0px #212121, 8px 4px 12px 0px #1b1b1b;
      }
      .indicator:hover {
        background: #1b1b1b;
      }
    }
  }

  .label {
    .indicator {
      box-shadow: -8px -4px 8px 0px #212121, 8px 4px 12px 0px #1b1b1b;
    }
    .indicator:hover {
      background: #d3d7da;
    }

    .indicator::before {
      box-shadow: -4px -2px 4px 0px #212121, 4px 2px 8px 0px #1b1b1b;
    }

    .indicator::after {
      background-color: #212121;
      box-shadow: -4px -2px 4px 0px #212121, 4px 2px 8px 0px #1b1b1b;
    }
  }

  .profile {
    box-shadow: -7px -7px 20px 0px rgba(0, 0, 0, 0.6),
      -4px -4px 5px 0px rgba(0, 0, 0, 0.6),
      7px 7px 20px 0px rgba(255, 255, 255, 0.1),
      4px 4px 5px 0px rgba(255, 255, 255, 0.05);
    img {
      box-shadow: -7px -7px 20px 0px rgba(0, 0, 0, 0.6),
        -4px -4px 5px 0px rgba(0, 0, 0, 0.6),
        7px 7px 20px 0px rgba(255, 255, 255, 0.1),
        4px 4px 5px 0px rgba(255, 255, 255, 0.05);
    }
  }

  .field {
    background: #212121;
    box-shadow: 6px 6px 6px 0px #1b1b1b inset, -6px -6px 6px 0px #212121 inset;

    &:hover,
    &:focus {
      background: #1b1b1b;
    }

    &:focus {
      box-shadow: 4px 4px 4px 0px #212121 inset, -4px -4px 4px 0px #212121 inset;
    }
  }

  .menu-item {
    color: rgba(255, 255, 255, 0.7);
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
    &:active {
      color: lightcoral
    }
  }

  .menu-item-active {
    color: coral;
  }
}
