.menu {
  margin-right: 10px;
}

.menu-item {
  color: black;
  &:hover {
    color: #212121;
  }
}

.menu-item-active {
  color: coral;
}

.small {
  display: none;
}

@media only screen and (max-width: 600px) {
  .big {
    display: none;
  }
  .small {
    display: block;
  }
  .dropdown-content {
    right: 0;
  }
}