.slider-container {
  width: 100%;
}
.slider-bar {
  background: coral;
  height: 5px;
  margin-bottom: -15px;
  &.shadow {
    margin-bottom: -5px;
  background: grey;
}
}
.slider-value {
  width: 50px;
  padding-bottom: 10px;
  padding-left: 10px;;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: transparent;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-right: 10px;

  &::-webkit-slider-thumb:hover {
    background: #ff6933;
    background: linear-gradient(145deg, #e65f2e, #ff7037);
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background: coral;
    background: linear-gradient(145deg, #e67248, #ff8856);
    cursor: pointer;
  }
  &::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background: coral;
    background: linear-gradient(145deg, #e67248, #ff8856);
    cursor: pointer;
  }
}
