table{
  border-radius: 15px;
  min-width: 400px;
  width: 100%;
  overflow: hidden;
  border-spacing: 0;
  box-shadow: -7px -7px 20px 0px rgba(255,255,255,0.60), 
              -4px -4px 5px 0px rgba(255,255,255,0.60),
              7px 7px 20px 0px rgba(0,0,0,0.13), 
              4px 4px 5px 0px rgba(0,0,0,0.067);
}

td, th {
  padding: 8px;
}

tr:nth-child(odd){
  background-color: rgba(255, 127, 80, 0.5);
}

tr:hover {
  box-shadow: inset -7px -7px 20px 0px rgba(255,255,255,0.60), 
              inset -4px -4px 5px 0px rgba(255,255,255,0.60),
              inset 7px 7px 20px 0px rgba(0,0,0,0.13), 
              inset 4px 4px 5px 0px rgba(0,0,0,0.067);
}

tr {
  margin: 0;
  padding: 0;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background: var(--primary-color);
  color: white;
}